---
name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "*.go"
      - go.*
      - Dockerfile
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
    paths:
      - "*.go"
      - go.*
      - Dockerfile

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: write
      pull-requests: write
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Prepare
        id: prep
        run: |
          echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        with:
          install: true
          version: latest
          driver-opts: image=moby/buildkit:latest
      - name: Build local image for scan and sbom
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          tags: localbuild/aws-es-proxy:latest
          push: false
          load: true
      - name: Scan image
        id: scan
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c # v7
        with:
          image: localbuild/aws-es-proxy:latest
          fail-build: true
          severity-cutoff: critical
          only-fixed: true
      - name: Create SBOM
        uses: anchore/sbom-action@deef08a0db64bfad603422135db61477b16cef56 # v0
        with:
          format: spdx-json
          output-file: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Scan SBOM
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c # v7
        with:
          sbom: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
