---
name: release

on:
  pull_request:
  push:
    branches: ["master"]
    paths:
      - "*.go"
      - go.*
      - Dockerfile
  release:
    types: ["published"]

jobs:
  build:
    permissions:
      actions: read
      contents: write
      packages: write
      pull-requests: write
      security-events: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}},prefix=v
            type=semver,pattern={{major}}.{{minor}},prefix=v
            type=semver,pattern={{major}},prefix=v
            type=ref,event=branch
            type=ref,event=pr
          flavor: |
            latest=auto
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        with:
          install: true
          version: latest
          driver-opts: image=moby/buildkit:latest
      - name: build local container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          tags: localbuild/aws-es-proxy:latest
          push: false
          load: true
      - name: Scan image
        id: scan
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c # v7
        with:
          image: localbuild/aws-es-proxy:latest
          fail-build: true
          severity-cutoff: critical
          only-fixed: true
      - name: Create SBOM
        uses: anchore/sbom-action@17ae1740179002c89186b61233e0f892c3118b11 # v0
        with:
          format: spdx-json
          output-file: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Scan SBOM
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c # v7
        with:
          sbom: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@c793b717bc78562f491db7b0e93a3a178b099162 # v4
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
